#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

#game-controls {
  margin-top: 20px;
}
/* styling buttons */
button {
  margin-right: 10px;
  padding: 5px 15px;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
} 
